body {
  font-family: "Spartan", sans-serif;
  margin: 0;
  background-color: white;
}

button {
  cursor: pointer;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section {
  padding: 0 31px;
}

@media only screen and (min-width: 426px) {
  section {
    padding-right: 8vw;
    padding-left: 8vw;
  }
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.12em;
  letter-spacing: -0.055em;
}

h2 {
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 0.35em;
  text-transform: uppercase;
}

p {
  font-size: 0.75em;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #a1a1a1;
}

a {
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  text-decoration: none;
  color: black;
}

a:hover {
  -webkit-filter: invert(1) brightness(40%);
          filter: invert(1) brightness(40%);
}

.logo {
  width: 64px;
  height: 14px;
}

.full-width {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
}

.header {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 75px;
  padding: 48px 31px 0;
}

.header__logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 auto;
}

.nav {
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.nav__button {
  position: absolute;
  z-index: 99;
  top: 32px;
  left: 10px;
  width: 45px;
  height: 45px;
  padding: 0;
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  border: 0;
  background-color: transparent;
  background-image: url("../../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.nav__button:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.nav__list {
  font-size: 0.725em;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: -100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 111px;
  margin: 0;
  padding: 36px 8px 0 0;
  list-style-type: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  text-transform: lowercase;
}

.nav__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__list li::after {
  position: relative;
  bottom: 10px;
  width: 0;
  height: 2px;
  content: "";
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  background-color: black;
}

.nav__list li:hover::after {
  width: 26%;
}

.nav__list a {
  padding: 15px clamp(10px, 4vw, 16px);
  text-decoration: none;
  color: black;
}

.nav__list a:hover {
  -webkit-filter: unset;
          filter: unset;
}

.nav-overlay {
  position: fixed;
  z-index: -9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  background-color: black;
}

.header--nav-active .nav {
  position: fixed;
}

.header--nav-active .nav__button {
  background-image: url("../../images/icon-close.svg");
}

.header--nav-active .nav__button:hover {
  -webkit-filter: unset;
          filter: unset;
}

.header--nav-active .nav__list {
  width: 100vw;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background-color: white;
}

.header--nav-active + .nav-overlay {
  z-index: 1;
  opacity: 0.5;
}

.slideshow {
  padding-bottom: 72px;
}

.slideshow__image {
  height: 360px;
  -webkit-transition: background-image 0.2s ease-in;
  transition: background-image 0.2s ease-in;
  background-position: bottom;
  background-size: cover;
}

@media only screen and (min-width: 426px) {
  .slideshow__image {
    height: 490px;
  }
}

.slideshow__image--0 {
  background-image: url("../../images/mobile-image-hero-1.jpg");
}

@media only screen and (min-width: 426px) {
  .slideshow__image--0 {
    background-image: url("../../images/desktop-image-hero-1.jpg");
  }
}

.slideshow__image--1 {
  background-image: url("../../images/mobile-image-hero-2.jpg");
}

@media only screen and (min-width: 426px) {
  .slideshow__image--1 {
    background-image: url("../../images/desktop-image-hero-2.jpg");
  }
}

.slideshow__image--2 {
  background-image: url("../../images/mobile-image-hero-3.jpg");
}

@media only screen and (min-width: 426px) {
  .slideshow__image--2 {
    background-image: url("../../images/desktop-image-hero-3.jpg");
  }
}

.slideshow__button-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 112px;
  height: 56px;
}

.slideshow__button {
  width: 50%;
  height: 100%;
  padding: 0;
  border: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 19%;
}

.slideshow__button:hover {
  background-color: #454545;
}

.slideshow__prev-button {
  background-image: url("../../images/icon-angle-left.svg");
}

.slideshow__next-button {
  background-image: url("../../images/icon-angle-right.svg");
}

.slideshow__heading {
  margin: 71px 0 15px;
}

.slideshow__body, .slideshow__heading {
  max-width: 50ch;
}

.slideshow__link {
  font-size: 0.8em;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 53px 0 0;
  text-decoration: none;
  letter-spacing: 0.74em;
  text-transform: uppercase;
}

.slideshow__link::after {
  display: block;
  width: 40px;
  height: 12px;
  margin: 1px 0 0 34px;
  content: "";
  background-image: url("../../images/icon-arrow.svg");
  background-repeat: no-repeat;
}

@media only screen and (min-width: 426px) {
  .slideshow {
    text-align: center;
  }
  .slideshow__body, .slideshow__link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }
}

.about__heading {
  margin-top: 56px;
}

.about__body {
  margin-bottom: 55px;
}

.about__heading, .about__body {
  max-width: 50ch;
}

.about__top-image {
  max-width: 420px;
}

.about__bottom-image {
  margin-bottom: -6px;
}

@media only screen and (min-width: 426px) {
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__top-image {
    left: unset;
    width: 100%;
    max-width: 420px;
    margin-right: unset;
    margin-left: unset;
  }
  .about__bottom-image {
    left: unset;
    width: 100%;
    max-width: 440px;
    margin-right: unset;
    margin-left: unset;
  }
}
