@mixin removeFullWidth($width) {
    left: unset;
    width: 100%;
    max-width: $width;
    margin-right: unset;
    margin-left: unset;
}

.about {
    &__body-container {
        padding-top: 56px;
        padding-bottom: 55px;
    }

    &__heading,
    &__body {
        max-width: $text-width;
    }

    &__top-image {
        max-width: 420px;
    }

    &__bottom-image {
        margin-bottom: -6px;
    }

    @media only screen and (min-width: 426px) {
        display: flex;
        align-items: center;
        flex-direction: column;
        &__top-image {
            @include removeFullWidth(420px);
        }

        &__bottom-image {
            @include removeFullWidth(440px);
        }
    }

    @media only screen and (min-width: 1024px) {
        display: grid;
        padding: 0;
        grid-template-columns: 420px 2fr;
        grid-template-rows: auto auto;
        &__top-image,
        &__bottom-image {
            grid-column: 1;
        }

        &__top-image {
            grid-row: 1;
        }

        &__bottom-image {
            margin-bottom: 0;
            grid-row: 2;
        }

        &__body-container {
            padding: 10px 3.2vw 0;
            grid-row: 1 / -1;
            grid-column: 2;
        }
    }

    @media only screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        &__body-container {
            flex: 1;
        }
    }
}
