.logo {
    width: 64px;
    height: 14px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

.full-width {
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
}
