body {
    font-family: $font;
    margin: 0;
    background-color: $background;
}

button {
    cursor: pointer;
}

main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr;
}

section {
    padding: 0 31px;
}

h1 {
    font-size: 1.93em;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.09em;
}

p {
    font-size: 0.75em;
    line-height: 20px;
    letter-spacing: -0.02em;
}
