.header {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 75px;
    padding: 48px 31px 0;
    &__logo {
        order: 2;
        margin: 0 auto;
    }
}

.nav {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
    &__button {
        position: absolute;
        z-index: 99;
        top: 32px;
        left: 10px;
        width: 45px;
        height: 45px;
        padding: 0;
        transition: filter 0.3s ease-in;
        border: 0;
        background-color: transparent;
        background-image: url("../../images/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            filter: invert(1);
        }
    }

    &__list {
        font-size: 0.725em;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: -100vw;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        box-sizing: border-box;
        height: 111px;
        margin: 0;
        padding: 36px 8px 0 0;
        list-style-type: none;
        transition: 0.5s ease-in-out;
        text-transform: lowercase;
        li {
            display: flex;
            align-items: center;
            flex-direction: column;
            &::after {
                position: relative;
                bottom: 10px;
                width: 0;
                height: 2px;
                content: "";
                transition: width 0.2s ease-in;
                background-color: $link-color;
            }
            &:hover {
                &::after {
                    width: 26%;
                }
            }
        }
        a {
            padding: 15px clamp(10px, 4vw, 16px);
            text-decoration: none;
            color: $link-color;
            &:hover {
                filter: unset;
            }
        }
    }
}

.nav-overlay {
    position: fixed;
    z-index: -9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    background-color: hsl(0, 0%, 0%);
}

.header--nav-active {
    .nav {
        position: fixed;
        &__button {
            background-image: url("../../images/icon-close.svg");
            &:hover {
                filter: unset;
            }
        }

        &__list {
            width: 100vw;
            transform: translateX(100vw);
            background-color: $nav-background;
        }
    }

    & + .nav-overlay {
        z-index: 1;
        opacity: 0.5;
    }
}
