.slideshow {
    &__image {
        position: relative;
        left: 50%;
        width: 100vw;
        height: 360px;
        margin-left: -50vw;
        background-image: url("../../images/mobile-image-hero-1.jpg");
        background-position: bottom;
        background-size: cover;
    }

    h1 {
        margin: 71px 0 15px;
    }

    &__link {
        font-size: 0.94em;
        display: block;
        margin: 52px 0 0;
        text-decoration: none;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: $text-color;
        img {
            margin-left: 22px;
        }
    }
}
