.slideshow {
    padding-bottom: 72px;
    &__image {
        height: 360px;
        background-image: url("../../images/mobile-image-hero-1.jpg");
        background-position: bottom;
        background-size: cover;
    }

    h1 {
        margin: 71px 0 15px;
    }

    &__link {
        font-size: 0.8em;
        display: block;
        margin: 52px 0 0;
        text-decoration: none;
        letter-spacing: 0.74em;
        text-transform: uppercase;
        img {
            margin-left: 22px;
        }
    }
}
