.slideshow {
    &__image {
        // width: 100vw;
        position: relative;
        left: -50%;
        height: 360px;
        margin-left: -50%;
        transform: translateX(50%);
        background-image: url("../../images/mobile-image-hero-1.jpg");
        background-position: bottom;
        background-size: cover;
    }
}
