$background: hsl(0, 0%, 100%);
$nav-background: hsl(0, 0%, 100%);
$link-color: hsl(0, 0%, 0%);
$font: "Spartan", sans-serif;

// Base
@import "./general";
@import "./classes";

// Components
@import "./header";
@import "./slideshow";
