$background: hsl(0, 0%, 100%);

$nav-background: hsl(0, 0%, 100%);

$button-background: hsl(0, 0%, 0%);
$button-background-hover: hsl(0, 0%, 27%);

$link-color: hsl(0, 0%, 0%);
$text-color: hsl(0, 0%, 63%);
$font: "Spartan", sans-serif;
$text-width: 50ch;

// Base
@import "./general";
@import "./classes";

// Components
@import "./header";

// Sections
@import "./slideshow";
@import "./about";
